{% extends "base.html" %}

{% block content %}
    <section class="profile">
        <h1></h1>
        <h1>Jan Lehigh</h1>
        <h2>Backend Software Engineer</h2>
        <p>Email: <a href="mailto:janlehigh461437@gmail.com">janlehigh461437@gmail.com</a></p>
        <p>Phone: 801-971-0792</p>
        <p><a href="https://www.linkedin.com/in/jan-connor-lehigh/">LinkedIn</a> | <a href="https://github.com/JCL461437">GitHub</a></p>
        
        <h3></h3>
        <h3>Technical Skills</h3>
        <ul>
            <p><strong>Languages & Frameworks:</strong> Ruby, Rails, ActiveRecord, PostgreSQL, HTML</p>
            <p><strong>Testing:</strong> RSpec, Capybara, WebMock, VCR</p>
            <p><strong>Tools & Workflow:</strong> Git, GitHub, Postico, Postman, TDD, RESTful APIs</p>
            <p><strong>Currently learning:</strong> CSS, Python, Flask, Django</p>
        </ul>
        <h3></h3>
        <h3>Education</h3>
        <h4>Accredited Certificate in Backend Engineering</h4>
        <p>Turing School of Software and Design 10|2024</p>
        <h4>Undergraduate Studies</h4>
        <p>University of Utah 8|2022</p>
    </section>
{% endblock %}
