{% extends "base.html" %}

{% block content %}
    <section class="projects">
        <h2></h2>
        <h2>Projects</h2>

        <h3>Guardian Angel</h3>
        <img src="{{ url_for('static', filename='images/guardian_angel.jpg') }}" alt="Guardian Angel Project" class="project-image" />
        <p>Tech: Ruby, Rails, RESTful APIs, CSS, Bootstrap, RSpec, Capybara, Bcrypt, Faraday, OAuth</p>
        <p><a href="https://github.com/Guardian-Angel-2405">GitHub Repository</a></p>
        <p>Constructed a full stack Rails application that provides users with services to facilitate mental health and a journaling system for recording the progression of their wellness.</p>

        <h3></h3>
        <h3>Chess with Frien-emies</h3>
        <img src="{{ url_for('static', filename='images/chess_game.gif') }}" alt="Chess with Frien-emies Project" class="project-image" />
        <p>Tech: Python, Flask, Socket.io, SQLAlchemy, Unittest</p>
        <p><a href="https://github.com/frien-emies/chess-game-be">GitHub Repository</a></p>
        <p>Built a Micro Service Architecture API that was responsible for digesting, updating, storing, and providing board and game state data to a front end application and separate backend via web-sockets and RESTful API endpoints.</p>
    </section>
{% endblock %}


